@charset "utf-8";
.clearfix:before,
.clearfix:after,
header .block .block_left div:before,
header .block .block_left div:after,
header .block .block_right .block_fon:before,
header .block .block_right .block_fon:after,
header .block .block_right .block_mail:before,
header .block .block_right .block_mail:after,
.content:before,
.content:after,
.content .img:before,
.content .img:after,
main .block_mvc .content .content_block .text:before,
main .block_mvc .content .content_block .text:after,
main .block_mvc .content .content_block .text .block:before,
main .block_mvc .content .content_block .text .block:after,
main .block_content .block:before,
main .block_content .block:after,
main .block_content3:before,
main .block_content3:after,
main .block_content3 .block:before,
main .block_content3 .block:after {
  content: " ";
  display: table;
}
.clearfix:after,
header .block .block_left div:after,
header .block .block_right .block_fon:after,
header .block .block_right .block_mail:after,
.content:after,
.content .img:after,
main .block_mvc .content .content_block .text:after,
main .block_mvc .content .content_block .text .block:after,
main .block_content .block:after,
main .block_content3:after,
main .block_content3 .block:after {
  clear: both;
}
.button {
  width: 150px;
  height: 35px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5M2NlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzOTRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -moz-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -o-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: linear-gradient(to bottom, #93cede 0%, #2394b4 100%);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.button:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #b4b4b4 100%);
}
.button_add {
  width: 150px;
  height: 35px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5M2NlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzOTRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -moz-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -o-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: linear-gradient(to bottom, #93cede 0%, #2394b4 100%);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  color: #ffffff;
}
.button_add:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #b4b4b4 100%);
}
.button_form {
  width: 150px;
  height: 35px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5M2NlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzOTRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -moz-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -o-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: linear-gradient(to bottom, #93cede 0%, #2394b4 100%);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  border: none;
  margin-bottom: 30px;
}
.button_form:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #b4b4b4 100%);
}
/*RESET CSS*/
html {
  color: #333;
  background: white;
  font-family: Verdana, Geneva, sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
a {
  text-decoration: none;
}
.clear {
  clear: both;
}
body {
  font-family: Arial;
  background-color: #ffffff;
}
.login {
  width: 100px;
  height: 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  color: #ffffff;
  background-color: #f73861;
  text-align: center;
  margin-top: 10px;
  display: block;
  float: left;
}
.login:hover {
  background-color: #b4b4b4;
}
.log {
  width: 100px;
  height: 20px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  color: #ffffff;
  background-color: #87c92b;
  text-align: center;
  margin-top: 10px;
  display: block;
  float: left;
  margin-right: 10px;
}
.button_redak {
  width: 40px;
  height: 30px;
  background-image: url(../img/buttun_red_st.png);
  background-position: 0px 0px;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  margin-bottom: 20px;
  float: left;
}
.button_redak:hover {
  background-image: url(../img/buttun_red_st.png);
  background-position: 0px 40px;
  color: #FFF;
}
.chek {
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 15px;
}
.green {
  color: #ff6d8c;
  font-weight: bold;
  font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana;
}
header {
  background-color: #4b68e6;
  padding-top: 40px;
}
header .block {
  margin: auto;
  width: 1050px;
  height: 210px;
  position: relative;
}
header .block .block_left {
  float: left;
  position: absolute;
  left: 0px;
}
header .block .block_left div img {
  width: 100px;
  height: 100px;
  float: left;
}
header .block .block_left div a {
  height: 50px;
  display: block;
  float: left;
  margin-left: 10px;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 40px;
}
header .block .block_left div p {
  height: 50px;
  float: left;
  margin-left: 10px;
  color: #ffffff;
  font-size: 22px;
  margin-top: 50px;
  font-family: "Bodoni MT";
}
header .block .block_left .text {
  color: #ffffff;
  font-size: 22px;
  margin: 15px 0px 0px 5px;
  width: 600px;
}
header .block .block_left .text span {
  width: 250px;
  height: 40px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  background-color: #f73861;
  display: inline-block;
  padding-top: 5px;
  margin-top: 10px;
}
header .block .block_right {
  float: left;
  color: #ffffff;
  position: absolute;
  right: 0px;
}
header .block .block_right .text {
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: bold;
}
header .block .block_right .block_fon img {
  width: 60px;
  height: 60px;
  float: left;
}
header .block .block_right .block_fon p {
  width: 150px;
  color: #ffffff;
  font-size: 27px;
  line-height: 1;
  float: left;
  margin-left: 8px;
}
header .block .block_right .block_mail {
  margin-top: 10px;
}
header .block .block_right .block_mail a {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  background: url("/img/mail100.png") 0px 0px;
}
header .block .block_right .block_mail a:hover {
  background: url("/img/mail100.png") 0px 60px;
}
header .block .block_right .block_mail p {
  width: 150px;
  color: #ffffff;
  font-size: 27px;
  line-height: 1;
  float: left;
  margin-left: 8px;
  margin-top: 10px;
}
.content {
  margin: auto;
  width: 1050px;
  margin-top: 50px;
}
.content .img img {
  width: 247px;
  height: 180px;
  margin-left: 10px;
}
.content .block .block1 {
  width: 240px;
  height: 280px;
  background-color: #0ec7a7;
  color: #ffffff;
  float: left;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  text-align: center;
  font-family: Dialog;
}
.content .block .block1 p {
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.content .block .block1 img {
  width: 90px;
  height: 90px;
  margin-top: 45px;
}
.content .block .block2 {
  width: 240px;
  height: 280px;
  background-color: #f73861;
  color: #ffffff;
  float: left;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-left: 25px;
  text-align: center;
  font-family: Dialog;
}
.content .block .block2 .header_p {
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.content .block .block2 img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}
.content .block .block3 {
  width: 240px;
  height: 280px;
  background-color: #87c92b;
  color: #ffffff;
  float: left;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-left: 25px;
  text-align: center;
  font-family: Dialog;
}
.content .block .block3 p {
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.content .block .block3 img {
  width: 100px;
  height: 100px;
  margin-top: 67px;
}
.content .block .block4 {
  width: 240px;
  height: 280px;
  background-color: #fec200;
  color: #ffffff;
  float: left;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-left: 25px;
  text-align: center;
  font-family: Dialog;
}
.content .block .block4 p {
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
}
.content .block .block4 img {
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
main {
  /*center content*/
}
main .block_mvc {
  margin: auto;
  width: 1050px;
  margin-top: 50px;
  margin-bottom: 20px;
}
main .block_mvc .header {
  font-size: 25px;
  width: 1010px;
  border: 1px solid#e2e2e2;
  padding-top: 20px;
  padding-left: 20px;
  word-wrap: break-word;
  padding-bottom: 20px;
  padding-right: 20px;
}
main .block_mvc .content {
  width: 1050px;
  margin-top: 20px;
}
main .block_mvc .content .content_block {
  width: 1050px;
  height: 170px;
  margin-bottom: 30px;
}
main .block_mvc .content .content_block .pic {
  width: 270px;
  height: 170px;
  float: left;
  background-color: #999;
  background-color: #0ec7a7;
}
main .block_mvc .content .content_block .text {
  width: 760px;
  height: 170px;
  float: left;
  margin-left: 20px;
  border-bottom: 1px solid#CCC;
}
main .block_mvc .content .content_block .text .header {
  width: 718px;
  height: 60px;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 15px;
  padding-right: 20px;
  font-family: Tahoma, Geneva, sans-serif;
}
main .block_mvc .content .content_block .text .block {
  width: 610px;
  height: 50px;
  float: left;
}
main .block_mvc .content .content_block .text .block img {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
}
main .block_mvc .content .content_block .text .block .textn {
  width: 100px;
  float: left;
  font-size: 20px;
  margin-top: 14px;
  margin-left: 10px;
}
main .block_mvc .content .content_block .text a {
  width: 150px;
  height: 35px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5M2NlZGUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzOTRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -moz-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: -o-linear-gradient(top, #93cede 0%, #2394b4 100%);
  background-image: linear-gradient(to bottom, #93cede 0%, #2394b4 100%);
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  display: block;
  padding-top: 15px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  float: left;
}
main .block_mvc .content .content_block .text a:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #b4b4b4 100%);
  background-image: linear-gradient(to bottom, #dddddd 0%, #b4b4b4 100%);
}
main .block_content {
  width: 100%;
  height: 600px;
  margin-top: 40px;
  background-image: url("/img/parallax3.jpg");
}
main .block_content .block {
  width: 1050px;
  margin: auto;
}
main .block_content .block .float1 {
  width: 700px;
  height: 550px;
  margin-top: 50px;
  color: white;
  float: left;
}
main .block_content .block .float1 .header {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}
main .block_content .block .float1 .header span {
  vertical-align: top;
  width: 200px;
  height: 50px;
  line-height: 2.2;
}
main .block_content .block .float1 .text {
  margin-top: 40px;
}
main .block_content .block .float1 .text p {
  font-size: 16px;
  margin-top: 20px;
}
main .block_content .block .float1 .text p b {
  color: #3af4d4;
  font-weight: 100;
}
main .block_content .block .float1 .text p span {
  font-weight: bold;
}
main .block_content .block .float2 {
  width: 320px;
  height: 500px;
  margin-top: 50px;
  background-color: #f73961;
  float: left;
  margin-left: 30px;
  color: white;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
}
main .block_content .block .float2 img {
  width: 250px;
  height: 200px;
  background-color: #87c92b;
  margin: 35px 35px 5px 35px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
}
main .block_content .block .float2 .text {
  text-align: center;
}
main .block_content .block .float2 .text .header {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}
main .block_content .block .float2 .text p {
  font-size: 13px;
}
main .block_content2 {
  margin: auto;
  width: 1050px;
  height: 250px;
  background-image: url("/img/con_base2.jpg");
  margin-top: 40px;
}
main .block_content2 .header {
  color: #f73961;
  font-size: 40px;
  font-weight: bold;
  padding-top: 35px;
}
main .block_content2 .text {
  width: 720px;
  color: #7a7777;
  line-height: 1.5;
  margin-top: 30px;
}
main .block_content3 {
  width: 100%;
  height: 675px;
  margin-top: 55px;
  background-color: #87c82a;
}
main .block_content3 .block {
  width: 1050px;
  margin: auto;
}
main .block_content3 .block .float1 {
  width: 700px;
  height: 550px;
  margin-top: 50px;
  color: white;
  float: left;
}
main .block_content3 .block .float1 .header {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}
main .block_content3 .block .float1 .header span {
  vertical-align: top;
  width: 200px;
  height: 50px;
  line-height: 2.2;
}
main .block_content3 .block .float1 .text {
  margin-top: 40px;
}
main .block_content3 .block .float1 .text p {
  font-size: 16px;
  margin-top: 20px;
}
main .block_content3 .block .float1 .text p b {
  color: #3af4d4;
  font-weight: 100;
}
main .block_content3 .block .float1 .text p span {
  font-weight: bold;
}
main .block_content3 .block .float2 {
  width: 320px;
  height: 500px;
  margin-top: 50px;
  background-color: #0ec7a7;
  float: left;
  margin-left: 30px;
  color: white;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
}
main .block_content3 .block .float2 img {
  width: 250px;
  height: 200px;
  background-color: #87c92b;
  margin: 35px 35px 5px 35px;
  -webkit-border-radius: 20px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20px;
  -moz-background-clip: padding;
  border-radius: 20px;
  background-clip: padding-box;
}
main .block_content3 .block .float2 .text {
  text-align: center;
}
main .block_content3 .block .float2 .text .header {
  line-height: 1.4;
  font-size: 14px;
  margin-top: 20px;
}
main .block_content3 .block .float2 .text p {
  font-size: 13px;
}
footer {
  background-color: #fb6f1a;
}
footer .block {
  margin: auto;
  width: 1050px;
  height: 330px;
  padding-top: 50px;
}
footer .block .header {
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}
footer .block .block1 {
  width: 525px;
  float: left;
}
footer .block .block1 .text p {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
}
footer .block .block1 .text p span {
  width: 150px;
  height: 27px;
  background-color: #4b68e6;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding-top: 8px;
}
footer .block .block1 .text .text_block {
  width: 525px;
  height: 50px;
  margin-top: 15px;
}
footer .block .block1 .text .text_block img {
  width: 50px;
  height: 50px;
  float: left;
}
footer .block .block1 .text .text_block p {
  float: left;
  font-size: 25px;
  margin-left: 15px;
}
footer .block .block2 {
  width: 525px;
  float: left;
}
footer .block .block2 .text p {
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
}
footer .block .block2 .text p span {
  width: 150px;
  height: 27px;
  background-color: #87c92b;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  padding-top: 8px;
}
footer .block .block2 .text .text_block {
  width: 525px;
  height: 50px;
  margin-top: 15px;
}
footer .block .block2 .text .text_block img {
  width: 50px;
  height: 50px;
  float: left;
}
footer .block .block2 .text .text_block p {
  float: left;
  font-size: 25px;
  margin-left: 15px;
}
footer .down {
  margin: auto;
  width: 1050px;
  height: 45px;
  border-top: 1px solid#e2e2e2;
  padding-top: 20px;
  color: white;
  font-size: 16px;
  font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif;
}
.table_block_title {
  width: 500px;
  height: 70px;
  float: left;
}
.table_block_title_error {
  width: 500px;
  height: 70px;
  float: left;
  margin-left: 50px;
}
.table_block_title_info_text {
  width: 500px;
  height: 27px;
  margin-top: 30px;
  border: 1px solid#CCC;
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
}
.table_block_title_error_text {
  width: 500px;
  height: 28px;
  margin-top: 30px;
  background-image: url(../img/error_line.png);
  padding-top: 6px;
  text-align: center;
  color: #FFF;
}
.table_block_title_info {
  width: 240px;
  height: 20px;
  background-color: #2394b4;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  margin-top: 10px;
  color: #FFF;
  padding-left: 10px;
  margin-bottom: 5px;
}
.table_block_title_text {
  width: 500px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.table_block_meta {
  width: 500px;
  height: 70px;
  float: left;
}
.table_block_text {
  width: 1050px;
  float: left;
}
.table_block_title_info_text_text {
  width: 1048px;
  height: 28px;
  border: 1px solid#BBB;
  padding-top: 6px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.table_block_button {
  width: 1040px;
  height: 50px;
  float: left;
  border: 1px solid#CCC;
  margin-top: 20px;
  padding-top: 13px;
  padding-left: 10px;
}
.disp_ok {
  position: relative;
  display: none;
}
.disp_info_ok {
  width: 385px;
  height: 30px;
  background-image: url(../img/modal.png);
  position: fixed;
  top: 200px;
  right: 130px;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  color: #445968;
}
.disp_x_ok {
  width: 40px;
  height: 30px;
  background-image: url(../img/icon_xok_hover.png);
  background-position: 0px 0px;
  float: left;
  position: fixed;
  top: 200px;
  right: 100px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: #333;
}
.disp_x_ok:hover {
  color: #FFF;
  background-image: url(../img/icon_xok_hover.png);
  background-position: 0px 40px;
}
.disp_x_error {
  width: 40px;
  height: 30px;
  background-image: url(../img/icon_xerror_hover.png);
  background-position: 0px 0px;
  float: left;
  position: fixed;
  top: 200px;
  right: 100px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: #333;
}
.disp_x_error:hover {
  color: #FFF;
  background-image: url(../img/icon_xerror_hover.png);
  background-position: 0px 40px;
}
.disp_error {
  position: relative;
  display: none;
}
.disp_info_error {
  width: 385px;
  height: 30px;
  background-image: url(../img/modal.png);
  position: fixed;
  top: 200px;
  right: 130px;
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  color: #445968;
}
.table_block_title_error_text_text {
  width: 1050px;
  height: 28px;
  background-color: #F00;
  padding-top: 6px;
  text-align: center;
  color: #FFF;
  float: left;
}
.view_text_t {
  width: 1050px;
  word-wrap: break-word;
  margin-top: 20px;
}
.view_text_bottom {
  width: 1045px;
  height: 53px;
  border: 1px solid#CCC;
  margin-top: 20px;
  padding: 5px;
}
.view_text_bottom_block_icon {
  width: 60px;
  height: 60px;
  float: left;
}
.view_text_bottom_block_text {
  font-size: 18px;
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 20px;
  color: #333333;
}
.gallery {
  margin: auto;
  width: 1050px;
  height: 480px;
  margin-top: 80px;
  margin-bottom: 20px;
}
.gallery .header {
  color: #87c92b;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}
.gallery .block {
  width: 1050px;
  margin-top: 20px;
}
.gallery .block .a1 {
  margin-top: 10px;
  display: block;
  float: left;
  padding: 5px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.gallery .block .a1 .pic1 {
  width: 418px;
  height: 340px;
}
.gallery .block .a2 {
  margin-top: 10px;
  display: block;
  float: left;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.gallery .block .a2 .pic2 {
  width: 600px;
  height: 340px;
}
